@use '../SCSS/mixins.module.scss' as mixin;

.bgSection1{
    position: relative;
    z-index: -1;

    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 1fr 1fr;

    background-image: url('../../assets/bg.jpeg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
};

.orangeSection1{
    background-color: mixin.$secondColor;
    border-radius: 0 100% 0 0;
    grid-column: 1/11;
    grid-row: 1/3;
    height: 100vh;
}

.contentPrinciple{
    border: solid red;
    grid-column: 2/8;
    grid-row: 2/3;
}