@use '../SCSS/mixins.module.scss' as mixin;

.background{
    position: relative;
    z-index: -1;

    background-color: mixin.$secondColor;
    border-radius: 0 100% 0 0;

    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 1fr 1fr;
    height: 96vh;
};

.contentPrinciple{
    border: solid red;
    grid-column: 2/8;
    grid-row: 2/3;
}