@use '../SCSS/mixins.module.scss' as mixin;

.imgBg{
    background-image: url('../../assets/bg.jpeg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    height: 100vh;
};

.orangeBg{
    background-color: mixin.$secondColor;
    clip-path: ellipse(90% 150% at bottom left);
    height: 100vh;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(15, 1fr);
}

.titleH1{
    color: mixin.$firstColor;

    grid-column: 2/5;
    grid-row: 5/6;

    @include mixin.H1();
}

.titleH2{
    color: mixin.$firstColor;

    grid-column: 2/5;
    grid-row: 6/7;

    @include mixin.H2();
}

.titleH3{
    color: mixin.$firstColor;

    grid-column: 2/5;
    grid-row: 7/8;

    @include mixin.H3();
}

.text{
    color: mixin.$firstColor;

    grid-column: 2/5;
    grid-row: 8/9;

    @include mixin.Texts();
}

.forms{
    border: solid red;
}