@use '../SCSS/mixins.module.scss' as mixin;

.headerStyle{
    padding: 2vw;
    background-color: mixin.$headerColor;
    
    @include mixin.flex($justify: space-around);
};

.menuUl{
    width: 35vw;

    a{
        text-decoration: none;
        color: black;

        @include mixin.H1();
    }

    @include mixin.flex($justify: space-between);
};

.logoFig{

    img{
        width: 5vw;
    }

    @include mixin.flex($align: center)
}