@use '../SCSS/mixins.module.scss' as mixin;

.headerStyle {
    padding: 2em;
    background-color: mixin.$headerColor;
    backdrop-filter: blur(15px); // Efeito de desfoque no conteúdo atrás
    width: 100%;

    @include mixin.flex($justify: space-around);

    // TESTE DE POSITION

    position: fixed;
    top: 0px;
    z-index: 1000;

    &::after {
        content: '';
        position: absolute;
        bottom: -20px; // Estende um pouco além do header
        left: 0;
        right: 0;
        height: 20px; // Altura da transição
        background: linear-gradient(to bottom,
                mixin.$headerColor 
                rgba(255, 255, 255, 0) 100% // Termina completamente transparente
            );
        backdrop-filter: blur(15px);
        mask-image: linear-gradient(to bottom, black 0%, transparent 100%);
        -webkit-mask-image: linear-gradient(to bottom, black 0%, transparent 100%);
        pointer-events: none; // Permite clicar através do degradê
        z-index: -1;
    }
}

;

.menuUl {
    width: 30vw;

    a {
        text-decoration: none;
        color: mixin.$firstColor;

        @include mixin.H1;
    }

    @include mixin.flex($justify: space-between);
}

;

.logoFig {
    width: 10vw;

    img {
        width: 5vw;
    }

    @include mixin.flex($align: center, $justify: flex-end)
}