@use '../SCSS/mixins.module.scss' as mixin;

.headerStyle{
    border: solid red;

    @include mixin.flex($align: center)
};

.menuSec{
    border: solid yellow;
}

.logoFig{
    border: solid blue;
    img{
        width: 8vw;
    }
}