@use '../SCSS/mixins.module.scss' as mixin;

.headerStyle {
    padding: 2em;
    background-color: mixin.$headerColor;
    backdrop-filter: blur(15px); // Efeito de desfoque no conteúdo atrás
    width: 100%;

    @include mixin.flex($justify: space-around);

    // TESTE DE POSITION

    position: fixed;
    top: 0px;
    z-index: 1000;
}

;

.menuUl {
    width: 30vw;

    a {
        text-decoration: none;
        color: mixin.$firstColor;

        @include mixin.H1;
    }

    @include mixin.flex($justify: space-between);
}

;

.logoFig {
    width: 10vw;

    img {
        width: 5vw;
    }

    @include mixin.flex($align: center, $justify: flex-end)
}