@use '../SCSS/mixins.module.scss' as mixin;

.footerStyle{
    background-color: mixin.$footerColor;
    color: mixin.$bgColor;
    width: 100%;

    @include mixin.flex($align: center, $justify: center, $direction: column, $gap: .5rem);

    @include mixin.H3();

    // TESTE DE POSITION

    position: absolute;
    z-index: 1;
}