@use '../SCSS/mixins.module.scss' as mixin;

.footerStyle{
    background-color: mixin.$footerColor;
    color: mixin.$bgColor;
    width: 100%;

    @include mixin.flex($align: center, $justify: center, $direction: column, $gap: .5rem);

    @include mixin.Texts();

    // TESTE DE POSITION

    position: fixed;
    bottom: 0px;
    z-index: 1000;
}