@mixin H1($fontsize: clamp(3rem, 3vw, 4rem)) {
    font-size: $fontsize;
    font-weight: 400
};

@mixin H2($fontsize: clamp(1rem, 3vw, 2rem)) {
    font-size: $fontsize;
    font-weight: 300
};

@mixin H3($fontsize: clamp(1.6rem, 3vw, 1.9rem)) {
    font-size: $fontsize;
    font-weight: 200
};

@mixin Texts($fontsize: clamp(1.3rem, 3vw, 1.5rem)) {
    font-size: $fontsize;
    font-weight: 100
};